In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('C:\\Users\dell\Corey Schafer\data1.csv')

In [5]:
df

    Age  All_Devs  Python  JavaScript
0    18     17784   20046       16446
1    19     16500   17100       16791
2    20     18012   20000       18942
3    21     20628   24744       21780
4    22     25206   30500       25704
5    23     30252   37732       29000
6    24     34368   41247       34372
7    25     38496   45372       37810
8    26     42000   48876       43515
9    27     46752   53850       46823
10   28     49320   57287       49293
11   29     53200   45000       53437
12   30     56000   50000       56373
13   31     62316   55000       62375
14   32     64928   70000       66674
15   33     67317   71496       68745
16   34     68748   75370       68746
17   35     73752   83640       74583
18   36     77232   84666       79000
19   37     78000   84392       78508
20   38     78508   78254       79996
21   39     79536   85000       80403
22   40     82488   87038       83820
23   41     88935   91991       88833
24   42     90000  100000       91660
25   43     90056   94796       87892
26   44     95000   97962       96243
27   45     90000   93302       90000
28   46     91633   99240       99313
29   47     91660  102736       91660
30   48     98150  112285      102264
31   49     98964  100771      100000
32   50    100000  104708      100000
33   51     98988  108423       91660
34   52    100000  101407       99240
35   53    108923  112542      108000
36   54    105000  122870      105000
37   55    103117  120000      104000

In [7]:
df.head()

   Age  All_Devs  Python  JavaScript
0   18     17784   20046       16446
1   19     16500   17100       16791
2   20     18012   20000       18942
3   21     20628   24744       21780
4   22     25206   30500       25704

In [8]:
df.head(2)

   Age  All_Devs  Python  JavaScript
0   18     17784   20046       16446
1   19     16500   17100       16791

In [9]:
df.head(20)

    Age  All_Devs  Python  JavaScript
0    18     17784   20046       16446
1    19     16500   17100       16791
2    20     18012   20000       18942
3    21     20628   24744       21780
4    22     25206   30500       25704
5    23     30252   37732       29000
6    24     34368   41247       34372
7    25     38496   45372       37810
8    26     42000   48876       43515
9    27     46752   53850       46823
10   28     49320   57287       49293
11   29     53200   45000       53437
12   30     56000   50000       56373
13   31     62316   55000       62375
14   32     64928   70000       66674
15   33     67317   71496       68745
16   34     68748   75370       68746
17   35     73752   83640       74583
18   36     77232   84666       79000
19   37     78000   84392       78508

In [11]:
df.tail()

    Age  All_Devs  Python  JavaScript
33   51     98988  108423       91660
34   52    100000  101407       99240
35   53    108923  112542      108000
36   54    105000  122870      105000
37   55    103117  120000      104000

In [12]:
type(df)

pandas.core.frame.DataFrame

In [15]:
type(df['Age'])

pandas.core.series.Series

In [17]:
df1=df.head()

In [18]:
df1

   Age  All_Devs  Python  JavaScript
0   18     17784   20046       16446
1   19     16500   17100       16791
2   20     18012   20000       18942
3   21     20628   24744       21780
4   22     25206   30500       25704

In [24]:
df1.to_csv('FirstDataFrame.csv')

In [25]:
pwd()

'C:\\Users\\dell\\OneNeuron'

In [26]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7EAB-9F48

 Directory of C:\Users\dell\OneNeuron

23-06-2022  11:53    <DIR>          .
23-06-2022  11:53    <DIR>          ..
23-06-2022  10:49    <DIR>          .ipynb_checkpoints
03-04-2022  16:54    <DIR>          __pycache__
25-05-2022  14:28             7,789 Abstraction and Inheritance.ipynb
25-03-2022  01:04                29 addition.py
28-05-2022  13:17           628,633 carbon_nanotubes.csv
21-06-2022  18:49             8,165 CassandraConnectionPython.ipynb
19-05-2022  20:05            12,106 Classes&Objects.ipynb
19-05-2022  20:03                 6 d.txt
13-06-2022  00:31           493,835 database.log
19-05-2022  18:00                41 File1
23-06-2022  11:51               153 FirstDataFrame.cdv
23-06-2022  11:53               153 FirstDataFrame.csv
25-01-2022  02:06            12,631 Function.ipynb
02-03-2022  01:14            10,120 Function1.ipynb
14-03-2022  18:23         5,438,557 Function2.ipynb
21-01-2020  19:09            11,941 glass.data
17-03-2022  00:59    <DIR>          logging
20-03-2022  01:29             8,063 Logging Debugging.ipynb
04-04-2022  08:56             9,737 Modules.ipynb
12-06-2022  13:31            36,915 MongoDB.ipynb
27-05-2022  20:27               289 mydata.csv
13-06-2022  00:32         2,105,294 MysqlDatabasequestion.ipynb
19-05-2022  20:03                 0 OOPS.log
23-06-2022  11:47            27,945 Pandas1.ipynb
31-05-2022  19:03            32,198 SQLContinueandMongoDB installation.ipynb
25-03-2022  00:52                58 test.py
03-04-2022  16:53               189 test6.py
20-01-2022  01:33            37,875 TupleSet.ipynb
13-06-2022  00:20           700,394 Untitled.ipynb
28-05-2022  13:38            62,835 Working with SQL & Pythn.ipynb
              27 File(s)      9,645,951 bytes
               5 Dir(s)  145,809,088,512 bytes free

In [27]:
pd.read_csv('FirstDataFrame.csv')

   Unnamed: 0  Age  All_Devs  Python  JavaScript
0           0   18     17784   20046       16446
1           1   19     16500   17100       16791
2           2   20     18012   20000       18942
3           3   21     20628   24744       21780
4           4   22     25206   30500       25704

In [28]:
pd.read_csv('carbon_nanotubes.csv')

                                                     Chiral indice n;Chiral indice m;Initial atomic coordinate u;Initial atomic coordinate v;Initial atomic coordinate w;Calculated atomic coordinates u';Calculated atomic coordinates v';Calculated atomic coordinates w'
2;1;0  679005;0 701318;0 017033;0 721039;0 730232;0                                            17014.0
       717298;0 642129;0 231319;0 738414;0 65675;0                                            232369.0
       489336;0 303751;0 088462;0 477676;0 263221;0                                            88712.0
       413957;0 632996;0 040843;0 408823;0 657897;0                                            39796.0
       334292;0 543401;0 15989;0  303349;0 558807;0                                           157373.0
...                                                                                                ...
12;6;0 834201;0 399891;0 89127;0  841858;0 405882;0                                           891356.0
       698374;0 24471;0  962699;0 706555;0 248416;0                                           962833.0
       923823;0 568913;0 819842;0 929403;0 576284;0                                           819879.0
       934978;0 602319;0 938889;0 941844;0 610608;0                                           938755.0
       953664;0 698374;0 962699;0 961243;0 707812;0                                           962605.0

[10721 rows x 1 columns]

In [31]:
df=pd.read_csv('C:\\Users\dell\Corey Schafer\data1.csv',sep='#')

In [32]:
df

    Age  All_Devs  Python JavaScript
0    18     17784   20046      16446
1    19     16500   17100      16791
2    20     18012   20000      18942
3    21     20628   24744      21780
4    22     25206   30500     25704s
5    23     30252   37732      29000
6    24     34368   41247      34372
7    25     38496   45372      37810
8    26     42000   48876      43515
9    27     46752   53850      46823
10   28     49320   57287      49293
11   29     53200   45000      53437
12   30     56000   50000      56373
13   31     62316   55000      62375
14   32     64928   70000      66674
15   33     67317   71496      68745
16   34     68748   75370      68746
17   35     73752   83640      74583
18   36     77232   84666      79000
19   37     78000   84392      78508
20   38     78508   78254      79996
21   39     79536   85000      80403
22   40     82488   87038      83820
23   41     88935   91991      88833
24   42     90000  100000      91660
25   43     90056   94796      87892
26   44     95000   97962      96243
27   45     90000   93302      90000
28   46     91633   99240      99313
29   47     91660  102736      91660
30   48     98150  112285     102264
31   49     98964  100771     100000
32   50    100000  104708     100000
33   51     98988  108423      91660
34   52    100000  101407      99240
35   53    108923  112542     108000
36   54    105000  122870     105000
37   55    103117  120000     104000

In [33]:
df=pd.read_csv('C:\\Users\dell\Corey Schafer\data1.csv',sep='#',header=None)

In [34]:
df

      0         1       2           3
0   Age  All_Devs  Python  JavaScript
1    18     17784   20046       16446
2    19     16500   17100       16791
3    20     18012   20000       18942
4    21     20628   24744       21780
5    22     25206   30500      25704s
6    23     30252   37732       29000
7    24     34368   41247       34372
8    25     38496   45372       37810
9    26     42000   48876       43515
10   27     46752   53850       46823
11   28     49320   57287       49293
12   29     53200   45000       53437
13   30     56000   50000       56373
14   31     62316   55000       62375
15   32     64928   70000       66674
16   33     67317   71496       68745
17   34     68748   75370       68746
18   35     73752   83640       74583
19   36     77232   84666       79000
20   37     78000   84392       78508
21   38     78508   78254       79996
22   39     79536   85000       80403
23   40     82488   87038       83820
24   41     88935   91991       88833
25   42     90000  100000       91660
26   43     90056   94796       87892
27   44     95000   97962       96243
28   45     90000   93302       90000
29   46     91633   99240       99313
30   47     91660  102736       91660
31   48     98150  112285      102264
32   49     98964  100771      100000
33   50    100000  104708      100000
34   51     98988  108423       91660
35   52    100000  101407       99240
36   53    108923  112542      108000
37   54    105000  122870      105000
38   55    103117  120000      104000

In [1]:
import pandas as pd
df=pd.read_csv('C:\\Users\dell\Corey Schafer\data1.csv')

KeyboardInterrupt:

In [2]:
import pandas as pd

KeyboardInterrupt:

In [1]:
import pandas as pd

In [2]:
pd.read_csv('C:\\Users\dell\Corey Schafer\data1.csv')

   Age#All_Devs#Python#JavaScript
0            18#17784#20046#16446
1            19#16500#17100#16791
2            20#18012#20000#18942
3            21#20628#24744#21780
4           22#25206#30500#25704s
5            23#30252#37732#29000
6            24#34368#41247#34372
7            25#38496#45372#37810
8            26#42000#48876#43515
9            27#46752#53850#46823
10           28#49320#57287#49293
11           29#53200#45000#53437
12           30#56000#50000#56373
13           31#62316#55000#62375
14           32#64928#70000#66674
15           33#67317#71496#68745
16           34#68748#75370#68746
17           35#73752#83640#74583
18           36#77232#84666#79000
19           37#78000#84392#78508
20           38#78508#78254#79996
21           39#79536#85000#80403
22           40#82488#87038#83820
23           41#88935#91991#88833
24          42#90000#100000#91660
25           43#90056#94796#87892
26           44#95000#97962#96243
27           45#90000#93302#90000
28           46#91633#99240#99313
29          47#91660#102736#91660
30         48#98150#112285#102264
31         49#98964#100771#100000
32        50#100000#104708#100000
33          51#98988#108423#91660
34         52#100000#101407#99240
35        53#108923#112542#108000
36        54#105000#122870#105000
37        55#103117#120000#104000

In [3]:
df=pd.read_csv('C:\\Users\dell\Corey Schafer\data1.csv',sep='#')

In [4]:
df

    Age  All_Devs  Python JavaScript
0    18     17784   20046      16446
1    19     16500   17100      16791
2    20     18012   20000      18942
3    21     20628   24744      21780
4    22     25206   30500     25704s
5    23     30252   37732      29000
6    24     34368   41247      34372
7    25     38496   45372      37810
8    26     42000   48876      43515
9    27     46752   53850      46823
10   28     49320   57287      49293
11   29     53200   45000      53437
12   30     56000   50000      56373
13   31     62316   55000      62375
14   32     64928   70000      66674
15   33     67317   71496      68745
16   34     68748   75370      68746
17   35     73752   83640      74583
18   36     77232   84666      79000
19   37     78000   84392      78508
20   38     78508   78254      79996
21   39     79536   85000      80403
22   40     82488   87038      83820
23   41     88935   91991      88833
24   42     90000  100000      91660
25   43     90056   94796      87892
26   44     95000   97962      96243
27   45     90000   93302      90000
28   46     91633   99240      99313
29   47     91660  102736      91660
30   48     98150  112285     102264
31   49     98964  100771     100000
32   50    100000  104708     100000
33   51     98988  108423      91660
34   52    100000  101407      99240
35   53    108923  112542     108000
36   54    105000  122870     105000
37   55    103117  120000     104000

In [5]:
df=pd.read_csv('C:\\Users\dell\Corey Schafer\data1.csv',sep='#',header=None)

In [6]:
df

      0         1       2           3
0   Age  All_Devs  Python  JavaScript
1    18     17784   20046       16446
2    19     16500   17100       16791
3    20     18012   20000       18942
4    21     20628   24744       21780
5    22     25206   30500      25704s
6    23     30252   37732       29000
7    24     34368   41247       34372
8    25     38496   45372       37810
9    26     42000   48876       43515
10   27     46752   53850       46823
11   28     49320   57287       49293
12   29     53200   45000       53437
13   30     56000   50000       56373
14   31     62316   55000       62375
15   32     64928   70000       66674
16   33     67317   71496       68745
17   34     68748   75370       68746
18   35     73752   83640       74583
19   36     77232   84666       79000
20   37     78000   84392       78508
21   38     78508   78254       79996
22   39     79536   85000       80403
23   40     82488   87038       83820
24   41     88935   91991       88833
25   42     90000  100000       91660
26   43     90056   94796       87892
27   44     95000   97962       96243
28   45     90000   93302       90000
29   46     91633   99240       99313
30   47     91660  102736       91660
31   48     98150  112285      102264
32   49     98964  100771      100000
33   50    100000  104708      100000
34   51     98988  108423       91660
35   52    100000  101407       99240
36   53    108923  112542      108000
37   54    105000  122870      105000
38   55    103117  120000      104000

In [7]:
# Giving the header by the users using name tag

f=pd.read_csv('C:\\Users\dell\Corey Schafer\data1.csv',sep='#',header=None,names=['A','B','C','D'])

In [8]:
f

      A         B       C           D
0   Age  All_Devs  Python  JavaScript
1    18     17784   20046       16446
2    19     16500   17100       16791
3    20     18012   20000       18942
4    21     20628   24744       21780
5    22     25206   30500      25704s
6    23     30252   37732       29000
7    24     34368   41247       34372
8    25     38496   45372       37810
9    26     42000   48876       43515
10   27     46752   53850       46823
11   28     49320   57287       49293
12   29     53200   45000       53437
13   30     56000   50000       56373
14   31     62316   55000       62375
15   32     64928   70000       66674
16   33     67317   71496       68745
17   34     68748   75370       68746
18   35     73752   83640       74583
19   36     77232   84666       79000
20   37     78000   84392       78508
21   38     78508   78254       79996
22   39     79536   85000       80403
23   40     82488   87038       83820
24   41     88935   91991       88833
25   42     90000  100000       91660
26   43     90056   94796       87892
27   44     95000   97962       96243
28   45     90000   93302       90000
29   46     91633   99240       99313
30   47     91660  102736       91660
31   48     98150  112285      102264
32   49     98964  100771      100000
33   50    100000  104708      100000
34   51     98988  108423       91660
35   52    100000  101407       99240
36   53    108923  112542      108000
37   54    105000  122870      105000
38   55    103117  120000      104000

In [24]:
#Skips the rows tht we donot want in below using list comprehension we have used on Odd values
df=pd.read_csv('C:\\Users\dell\Data\survey_results_public.csv',skiprows=[i  for i in range(83439)  if i%2==0 ])
df

,1,I am a developer by profession,"Independent contractor, freelancer, or self-employed",Slovakia,NA,NA.1,"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",18 - 24 years,"Coding Bootcamp;Other online resources (ex: videos, blogs, etc)",NA.2,...,25-34 years old,Man,No.1,Straight / Heterosexual,White or of European descent,None of the above,None of the above.1,Appropriate in length,Easy,62268
0,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
1,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
2,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,...,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
3,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
4,11,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern I...,NaN,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc)",16,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41714,83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,...,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
41715,83433,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,5,...,18-24 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,80169.0
41716,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
41717,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
41718,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

,10,I am a developer by profession,Employed full-time,Sweden,NA,NA.1,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,...,25-34 years old,Man,No.1,Straight / Heterosexual,White or of European descent,None of the above,None of the above.1,Appropriate in length,Neither easy nor difficult,51552
0,11,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern I...,NaN,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc)",16,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
1,12,I am a developer by profession,Employed full-time,Spain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,None of the above,Too long,Easy,46482.0
2,13,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,15,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Appropriate in length,Easy,77290.0
3,14,I am a student who is learning to code,Employed full-time,Peru,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,School,10,...,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Too long,Neither easy nor difficult,NaN
4,15,"I used to be a developer by profession, but no...","Not employed, but looking for work",United Kingdom of Great Britain and Northern I...,NaN,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,40,...,45-54 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83424,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83425,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83426,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83427,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83428,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [31]:
# Nan Value for some values  na_values Cange values to NAN Values
df=pd.read_csv('C:\\Users\dell\Data\survey_results_public.csv',na_values=['Neither easy nor difficult'])

In [32]:
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,NaN,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,NaN,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,NaN,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [33]:
type(df)

pandas.core.frame.DataFrame

In [34]:
# using float and int datatype for cloumn gives the manipulations for tht
df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [36]:
type(df['ResponseId'])

pandas.core.series.Series

In [38]:
#dtypes gives the data type of all the columns
df.dtypes

ResponseId                        int64
MainBranch                       object
Employment                       object
Country                          object
US_State                         object
UK_Country                       object
EdLevel                          object
Age1stCode                       object
LearnCode                        object
YearsCode                        object
YearsCodePro                     object
DevType                          object
OrgSize                          object
Currency                         object
CompTotal                       float64
CompFreq                         object
LanguageHaveWorkedWith           object
LanguageWantToWorkWith           object
DatabaseHaveWorkedWith           object
DatabaseWantToWorkWith           object
PlatformHaveWorkedWith           object
PlatformWantToWorkWith           object
WebframeHaveWorkedWith           object
WebframeWantToWorkWith           object
MiscTechHaveWorkedWith           object
MiscTechWantToWorkWith           object
ToolsTechHaveWorkedWith          object
ToolsTechWantToWorkWith          object
NEWCollabToolsHaveWorkedWith     object
NEWCollabToolsWantToWorkWith     object
OpSys                            object
NEWStuck                         object
NEWSOSites                       object
SOVisitFreq                      object
SOAccount                        object
SOPartFreq                       object
SOComm                           object
NEWOtherComms                    object
Age                              object
Gender                           object
Trans                            object
Sexuality                        object
Ethnicity                        object
Accessibility                    object
MentalHealth                     object
SurveyLength                     object
SurveyEase                       object
ConvertedCompYearly             float64
dtype: object

In [ ]:
import pandas as pd
df=pd.read_csv('C:\\Users\dell\Data\survey_results_public.csv')

In [2]:
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [4]:
df.to_csv('result2.csv',header=False,index=False,columns=['Employment','Country'])

In [ ]:
df

In [ ]:
df.tail()

In [9]:
import pandas as pd

In [11]:
pd.read_excel('C:\\Users\dell\OneNeuron\AAA.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,This sheet allows you to manage executions:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. List executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. Get execution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. Upsert executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,MyExecutionCode01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
pd.read_excel('C:\\Users\dell\OneNeuron\sample-excel-master\AAA.xlsx',sheet_name='Add your take on balances')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,3) Add your Take on Balances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,Now that you have populated your instrument un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,The official transfer took place 2 days ago. Y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,For further usage of the set holdings API call...,NaN,NaN,NaN,NaN,NaN,LUSID API Docs: Set Holdings,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Specify details of your holdings and add these...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Scope:,Production-client,"To view a list of existing scopes, please s...",NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Portfolio code:,Pension-fund,"To view a list of existing Portfolios, plea...",NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Effective date:,2019-09-08 11:49:22.720000,The effective date refers to the date the h...,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,Mandatory fields,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,Instrument Id Types,Instrument Ids,Units,Cost,Currency,Portfolio Cost,Price,Purchase date,Settlement date
31,NaN,NaN,NaN,1.0,Figi,BBG000BF6B57,1050200,9147242,GBP,9147242,8.71,NaN,NaN
32,NaN,NaN,NaN,2.0,Figi,BBG006N6HZM7,100674,13085203.824,GBP,13085203.824,129.976,NaN,NaN
33,NaN,NaN,NaN,3.0,Figi,BBG0088JSC32,220456,23461147.976,GBP,23461147.976,106.421,NaN,NaN
34,NaN,NaN,NaN,4.0,Figi,BBG0000D14P3,97658,13522312.628,GBP,13522312.628,138.466,NaN,NaN
35,NaN,NaN,NaN,5.0,Figi,BBG001KKJLR4,320568,34677443.4,GBP,34677443.4,108.175,NaN,NaN
36,NaN,NaN,NaN,6.0,Figi,BBG000BKH1W6,2879200,6892804.8,GBP,6892804.8,2.394,NaN,NaN
37,NaN,NaN,NaN,7.0,Figi,BBG0065YWM39,4789100,28629239.8,GBP,28629239.8,5.978,NaN,NaN
38,NaN,NaN,NaN,8.0,Figi,BBG000D03XD4,6134800,101684310,GBP,101684310,16.575,NaN,NaN
39,NaN,NaN,NaN,9.0,Figi,BBG000BF46Y8,13456500,26058512.25,GBP,26058512.25,1.9365,NaN,NaN
40,NaN,NaN,NaN,10.0,Figi,BBG000BRVH05,8954300,40912196.7,GBP,40912196.7,4.569,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,Holdings set for portfolio code Pension-fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df=pd.read_html('https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool')

In [18]:
df

[       Season   Age                                     Tm  \
 0     2008-09  19.0  Did Not Play (other pro league—Spain)
 1     2009-10  20.0                                    OKC
 2     2010-11  21.0                                    OKC
 3     2011-12  22.0                                    OKC
 4     2012-13  23.0                                    OKC
 5     2013-14  24.0                                    OKC
 6     2014-15  25.0                                    OKC
 7     2015-16  26.0                                    OKC
 8     2016-17  27.0                                    TOT
 9     2016-17  27.0                                    ORL
 10    2016-17  27.0                                    TOR
 11    2017-18  28.0                                    TOR
 12    2018-19  29.0                                    TOR
 13    2019-20  30.0                                    TOR
 14    2020-21  31.0                                    LAC
 15    2021-22  32.0                                    TOT
 16    2021-22  32.0                                    LAC
 17    2021-22  32.0                                    MIL
 18     Career   NaN                                    NaN
 19        NaN   NaN                                    NaN
 20  7 seasons   NaN                                    OKC
 21  4 seasons   NaN                                    TOR
 22  2 seasons   NaN                                    LAC
 23   1 season   NaN                                    ORL
 24   1 season   NaN                                    MIL

                                        Lg  \
 0   Did Not Play (other pro league—Spain)
 1                                     NBA
 2                                     NBA
 3                                     NBA
 4                                     NBA
 5                                     NBA
 6                                     NBA
 7                                     NBA
 8                                     NBA
 9                                     NBA
 10                                    NBA
 11                                    NBA
 12                                    NBA
 13                                    NBA
 14                                    NBA
 15                                    NBA
 16                                    NBA
 17                                    NBA
 18                                    NBA
 19                                    NaN
 20                                    NBA
 21                                    NBA
 22                                    NBA
 23                                    NBA
 24                                    NBA

                                       Pos  \
 0   Did Not Play (other pro league—Spain)
 1                                      PF
 2                                      PF
 3                                      PF
 4                                      PF
 5                                      PF
 6                                      PF
 7                                      PF
 8                                      PF
 9                                      PF
 10                                     PF
 11                                     PF
 12                                      C
 13                                      C
 14                                      C
 15                                   C,PF
 16                                      C
 17                                     PF
 18                                    NaN
 19                                    NaN
 20                                    NaN
 21                                    NaN
 22                                    NaN
 23                                    NaN
 24                                    NaN

                                         G  \
 0   Did Not Play (other pro league—Spain)
 1                                      73
 2                                      82
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     74
 13                                     55
 14                                     41
 15                                     54
 16                                     35
 17                                     19
 18                                    903
 19                                    NaN
 20                                    524
 21                                    228
 22                                     76
 23                                     56
 24                                     19

                                        GS  \
 0   Did Not Play (other pro league—Spain)
 1                                       0
 2                                      44
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     51
 13                                     27
 14                                     39
 15                                     12
 16                                     10
 17                                      2
 18                                    697
 19                                    NaN
 20                                    413
 21                                    177
 22                                     49
 23                                     56
 24                                      2

                                        MP  \
 0   Did Not Play (other pro league—Spain)
 1                                    18.1
 2                                    27.0
 3                                    27.2
 4                                    31.1
 5                                    32.9
 6                                    33.1
 7                                    32.1
 8                                    30.7
 9                                    30.5
 10                                   31.0
 11                                   27.5
 12                                   27.2
 13                                   27.0
 14                                   23.3
 15                                   16.2
 16                                   15.4
 17                                   17.8
 18                                   27.6
 19                                    NaN
 20                                   28.8
 21                                   27.6
 22                                   19.6
 23                                   30.5
 24                                   17.8

                                        FG  \
 0   Did Not Play (other pro league—Spain)
 1                                     2.8
 2                                     4.1
 3                                     4.0
 4                                     5.6
 5                                     6.5
 6                                     5.8
 7                                     5.3
 8                                     6.0
 9                                     6.1
 10                                    5.6
 11                                    5.0
 12                                    6.3
 13                                    6.2
 14                                    4.5
 15                                    2.7
 16                                    2.7
 17                                    2.8
 18                                    5.0
 19                                    NaN
 20                                    4.9
 21                                    5.8
 22                                    3.7
 23                                    6.1
 24                                    2.8

                                       FGA  ...  \
 0   Did Not Play (other pro league—Spain)  ...
 1                                     5.1  ...
 2                                     7.5  ...
 3                                     7.4  ...
 4                                     9.7  ...
 5                                    12.1  ...
 6                                    12.3  ...
 7                                    11.1  ...
 8                                    12.4  ...
 9                                    12.6  ...
 10                                   12.1  ...
 11                                   10.3  ...
 12                                   11.9  ...
 13                                   12.2  ...
 14                                    8.9  ...
 15                                    5.5  ...
 16                                    5.5  ...
 17                                    5.5  ...
 18                                    9.8  ...
 19                                    NaN  ...
 20                                    9.3  ...
 21                                   11.4  ...
 22                                    7.3  ...
 23                                   12.6  ...
 24                                    5.5  ...

                                       FT%  \
 0   Did Not Play (other pro league—Spain)
 1                                    .630
 2                                    .750
 3                                    .661
 4                                    .749
 5                                    .784
 6                                    .836
 7                                    .752
 8                                    .856
 9                                    .846
 10                                   .882
 11                                   .797
 12                                   .763
 13                                   .718
 14                                   .811
 15                                   .727
 16                                   .690
 17                                   .800
 18                                   .758
 19                                    NaN
 20                                   .745
 21                                   .768
 22                                   .768
 23                                   .846
 24                                   .800

                                       ORB  \
 0   Did Not Play (other pro league—Spain)
 1                                     1.9
 2                                     2.6
 3                                     2.9
 4                                     2.8
 5                                     2.8
 6                                     2.1
 7                                     1.8
 8                                     1.6
 9                                     1.8
 10                                    1.3
 11                                    1.0
 12                                    2.1
 13                                    2.1
 14                                    1.8
 15                                    1.1
 16                                    1.1
 17                                    1.2
 18                                    2.1
 19                                    NaN
 20                                    2.4
 21                                    1.7
 22                                    1.5
 23                                    1.8
 24                                    1.2

                                       DRB  \
 0   Did Not Play (other pro league—Spain)
 1                                     3.5
 2                                     5.0
 3                                     4.6
 4                                     4.9
 5                                     6.0
 6                                     5.7
 7                                     5.0
 8                                     5.2
 9                                     5.0
 10                                    5.5
 11                                    5.3
 12                                    6.0
 13                                    6.1
 14                                    4.9
 15                                    3.5
 16                                    3.1
 17                                    4.1
 18                                    5.1
 19                                    NaN
 20                                    5.0
 21                                    5.7
 22                                    4.1
 23                                    5.0
 24                                    4.1

                                       TRB  \
 0   Did Not Play (other pro league—Spain)
 1                                     5.4
 2                                     7.6
 3                                     7.5
 4                                     7.7
 5                                     8.8
 6                                     7.8
 7                                     6.8
 8                                     6.8
 9                                     6.8
 10                                    6.8
 11                                    6.3
 12                                    8.1
 13                                    8.2
 14                                    6.7
 15                                    4.6
 16                                    4.3
 17                                    5.3
 18                                    7.2
 19                                    NaN
 20                                    7.4
 21                                    7.4
 22                                    5.6
 23                                    6.8
 24                                    5.3

                                       AST  \
 0   Did Not Play (other pro league—Spain)
 1                                     0.1
 2                                     0.3
 3                                     0.4
 4                                     0.5
 5                                     1.0
 6                                     0.9
 7                                     0.8
 8                                     0.9
 9                                     1.1
 10                                    0.7
 11                                    0.8
 12                                    1.3
 13                                    1.4
 14                                    1.8
 15                                    0.9
 16                                    1.0
 17                                    0.7
 18                                    0.8
 19                                    NaN
 20                                    0.6
 21                                    1.1
 22                                    1.4
 23                                    1.1
 24                                    0.7

                                       STL  \
 0   Did Not Play (other pro league—Spain)
 1                                     0.3
 2                                     0.4
 3                                     0.5
 4                                     0.4
 5                                     0.5
 6                                     0.5
 7                                     0.5
 8                                     0.5
 9                                     0.6
 10                                    0.3
 11                                    0.4
 12                                    0.4
 13                                    0.5
 14                                    0.2
 15                                    0.2
 16                                    0.2
 17                                    0.2
 18                                    0.4
 19                                    NaN
 20                                    0.4
 21                                    0.4
 22                                    0.2
 23                                    0.6
 24                                    0.2

                                       BLK  \
 0   Did Not Play (other pro league—Spain)
 1                                     1.3
 2                                     2.4
 3                                     3.7
 4                                     3.0
 5                                     2.7
 6                                     2.4
 7                                     1.9
 8                                     1.6
 9                                     1.6
 10                                    1.4
 11                                    1.3
 12                                    1.4
 13                                    0.8
 14                                    1.1
 15                                    0.6
 16                                    0.7
 17                                    0.4
 18                                    1.9
 19                                    NaN
 20                                    2.5
 21                                    1.2
 22                                    1.0
 23                                    1.6
 24                                    0.4

                                       TOV  \
 0   Did Not Play (other pro league—Spain)
 1                                     0.9
 2                                     0.9
 3                                     1.2
 4                                     1.6
 5                                     1.5
 6                                     1.5
 7                                     1.4
 8                                     1.3
 9                                     1.2
 10                                    1.7
 11                                    1.2
 12                                    1.5
 13                                    2.0
 14                                    1.1
 15                                    0.8
 16                                    0.9
 17                                    0.5
 18                                    1.3
 19                                    NaN
 20                                    1.3
 21                                    1.5
 22                                    1.0
 23                                    1.2
 24                                    0.5

                                        PF  \
 0   Did Not Play (other pro league—Spain)
 1                                     2.7
 2                                     3.3
 3                                     2.7
 4                                     2.7
 5                                     2.9
 6                                     3.0
 7                                     2.7
 8                                     2.7
 9                                     2.5
 10                                    3.3
 11                                    2.8
 12                                    2.9
 13                                    2.8
 14                                    1.9
 15                                    1.9
 16                                    1.6
 17                                    2.4
 18                                    2.7
 19                                    NaN
 20                                    2.8
 21                                    2.8
 22                                    1.7
 23                                    2.5
 24                                    2.4

                                       PTS
 0   Did Not Play (other pro league—Spain)
 1                                     6.3
 2                                     9.9
 3                                     9.1
 4                                    13.2
 5                                    15.1
 6                                    14.3

In [20]:
df[4]

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,2009-10,20.0,OKC,NBA,PF,73.0,1323.0,15.2,0.562,0.005,...,NaN,1.3,2.4,3.7,0.134,NaN,-2.4,0.9,-1.5,0.2
1,2010-11,21.0,OKC,NBA,PF,82.0,2216.0,17.7,0.579,0.002,...,NaN,4.3,3.2,7.6,0.164,NaN,-0.2,0.7,0.5,1.4
2,2011-12,22.0,OKC,NBA,PF,66.0,1792.0,19.0,0.556,0.006,...,NaN,3.0,3.2,6.2,0.167,NaN,0.1,2.3,2.3,1.9
3,2012-13,23.0,OKC,NBA,PF,80.0,2486.0,19.4,0.612,0.073,...,NaN,5.3,4.1,9.4,0.181,NaN,0.9,0.7,1.5,2.2
4,2013-14,24.0,OKC,NBA,PF,81.0,2666.0,19.6,0.576,0.061,...,NaN,5.2,4.4,9.6,0.173,NaN,1.1,0.6,1.7,2.5
5,2014-15,25.0,OKC,NBA,PF,64.0,2116.0,16.6,0.549,0.261,...,NaN,2.9,2.7,5.6,0.127,NaN,0.5,0.4,0.9,1.6
6,2015-16,26.0,OKC,NBA,PF,78.0,2500.0,13.9,0.533,0.212,...,NaN,2.5,3.0,5.5,0.105,NaN,-0.6,0.0,-0.6,0.8
7,2016-17,27.0,TOT,NBA,PF,79.0,2422.0,16.4,0.566,0.323,...,NaN,2.5,2.6,5.1,0.101,NaN,0.4,-0.3,0.1,1.2
8,2016-17,27.0,ORL,NBA,PF,56.0,1710.0,17.5,0.569,0.304,...,NaN,2.1,1.7,3.8,0.108,NaN,0.9,-0.2,0.7,1.2
9,2016-17,27.0,TOR,NBA,PF,23.0,712.0,13.8,0.556,0.369,...,NaN,0.4,0.8,1.3,0.085,NaN,-0.8,-0.6,-1.5,0.1
10,2017-18,28.0,TOR,NBA,PF,76.0,2093.0,14.7,0.574,0.379,...,NaN,2.1,3.0,5.1,0.117,NaN,-0.1,0.0,-0.1,1.0
11,2018-19,29.0,TOR,NBA,C,74.0,2010.0,18.7,0.582,0.193,...,NaN,2.8,3.3,6.1,0.146,NaN,0.2,0.1,0.2,1.2
12,2019-20,30.0,TOR,NBA,C,55.0,1485.0,17.3,0.583,0.272,...,NaN,1.2,2.7,3.9,0.126,NaN,0.1,0.0,0.1,0.8
13,2020-21,31.0,LAC,NBA,C,41.0,955.0,18.2,0.585,0.315,...,NaN,1.7,1.3,3.0,0.150,NaN,1.2,0.2,1.4,0.8
14,2021-22,32.0,TOT,NBA,"C,PF",54.0,877.0,14.4,0.579,0.334,...,NaN,0.8,1.1,2.0,0.108,NaN,-1.3,-0.2,-1.5,0.1
15,2021-22,32.0,LAC,NBA,C,35.0,538.0,14.9,0.567,0.323,...,NaN,0.3,0.8,1.1,0.096,NaN,-1.3,0.3,-1.0,0.1
16,2021-22,32.0,MIL,NBA,PF,19.0,339.0,13.7,0.601,0.356,...,NaN,0.5,0.4,0.9,0.128,NaN,-1.4,-1.0,-2.4,0.0
17,Career,NaN,NaN,NBA,NaN,903.0,24941.0,17.1,0.571,0.191,...,NaN,35.7,37.0,72.8,0.140,NaN,0.1,0.4,0.5,15.8
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,7 seasons,NaN,OKC,NBA,NaN,524.0,15099.0,17.5,0.567,0.105,...,NaN,24.5,23.1,47.6,0.151,NaN,0.1,0.7,0.8,10.7
20,4 seasons,NaN,TOR,NBA,NaN,228.0,6300.0,16.5,0.577,0.288,...,NaN,6.6,9.8,16.4,0.125,NaN,-0.1,0.0,-0.1,3.1
21,2 seasons,NaN,LAC,NBA,NaN,76.0,1493.0,17.0,0.578,0.318,...,NaN,2.0,2.0,4.1,0.130,NaN,0.3,0.2,0.6,1.0
22,1 season,NaN,ORL,NBA,NaN,56.0,1710.0,17.5,0.569,0.304,...,NaN,2.1,1.7,3.8,0.108,NaN,0.9,-0.2,0.7,1.2
23,1 season,NaN,MIL,NBA,NaN,19.0,339.0,13.7,0.601,0.356,...,NaN,0.5,0.4,0.9,0.128,NaN,-1.4,-1.0,-2.4,0.0

In [21]:
type(df)

list

In [22]:
len(df)

6

In [23]:
df[3].to_csv